.clear {
    background-color: transparent;
    border: none;
    color: white;
}

.solid {
    background-color: white;
    border: none;
    color: rgb(45,211,111);
}

.outline {
    background-color : transparent;
    color: white;
    border: 1px solid white;
}

button:active{
    opacity: 0.8;
}

button[disabled] {
    cursor: not-allowed;
    opacity: 0.8;
}

.error {
    color:white;
    background:red;
    display: none;
    border-radius: 2px;
}